#buttons {
    position: fixed; 
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 2;
}

button {
    font-size: 18px;
}

a-scene {
    z-index: 1; /* AR scene goes behind the prompt */
  }